<%- include header %>
	<div class="Mcontent jumbotron"" id="Mcontent" style="min-height:600px;">
		<div class="main">
			<div class="article">
			    <% for( i=article.length-1;i>0;i--) { %>
				<% item=article[i] %>
				<% lee='item_' + item._id %>
				<div id="<%=lee %>" class='<%=lee %>'>
					<h2 class="essay"><%= item.title %></h2>
					<span class="time">2016/3/30</span>
					<span class="author">来自：<%= item.author%></span>
					<p class="Atext"><%= item.essayText%></p>
					<div class="feedmeta">
						<a href="javascript:void(0)" class="">评论</a>
						<a href="/articleDetail/article?id=<%=item._id %>" class="check">阅读原文</a>
						<a href="javascript:void(0)" class="del" name="<%=item._id %>" title="<%=item.title %>">删除</a>
					</div>
					
					<div class="comment">
						<% for(j=0,len1=comment.length;j<len1;j++ ) {  %>
						<% if(comment[j].cTitle==item.title) { %>
							
							<div class="commentlist">
								<i class="commentName"><%= comment[j].cAuthor %>：</i><p class="commentText"><%= comment[j].content %></p>
							</div>	
							
						<% } %>	
						<% } %>				
					</div>
					<div class="textarea">
						<form action="/admin/commentlist" method="post" name="comment">
							<input type="hidden" value="<%= item.title %>" name="comment[cTitle]">
							<% if (user) { %>
							<input type="hidden" value="<%= user.name %>" name="comment[cAuthor]">
							<% } else {%>
							<input type="hidden" value=" " name="comment[cAuthor]">
							<% } %>
							<textarea rows="2" cols="60" name="comment[content]"></textarea>
							<input type="reset" name="取消"><input type="submit" name="提交">
						</form>
					</div>
				</div>	
				<% } %>				
			</div>	
		</div>
		<div class="information">	
			<% if(user) { %>
			<p class="name">姓名:<%=user.name %></p>
			<p class="message">消息</p>
			<p class="publishArticle">发表的文章:</p>
			<ol>
				<% for(k=article.length-1;k>=0;k--) { %>
				   <% if(article[k].author == user.name) { %>
				     	<li><%= article[k].title%></li>
				   <% } %>
				<% } %>
			</ol>
			<% } %>	
		</div>
	</div>			
<%- include botton %>	